.titulo{

    font-size: 125px;
    color: blue;
}

h1{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blueviolet;
    background-color: beige;
    
}

h2{
    color: brown;
}

body{

    color: azure;
}

